@charset "utf-8";
.btn:hover {
	img: width: 70%;
}
.pixels {
	width:479px;
	height:298px;
	
}
.pixels2 {
	width: 479px;
	height: 298px;
	left: -2px;
}

.btn-in {
}
.pixels:hover {
	
	content:url("assets/RJ_the_gamerbro (Winter Outfit).jpg");
}
.btn1 {
}
.
.btn:onclick {
}
.btn1:onclick {
}
